@model Persona

<div class="text-center">
    <h1 class="display-4">Soy -Model.Nombre-</h1>
    <h2>Soy un desarrollador Full-Stack especializado en tecnologias .NET y JavaScript</h2>

    <img id="foto" src="~/Imagenes/avatar.jpg" />


</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/Imagenes/foto-net.png" />
</div>

<div class="row justify-content-center text-center bg-primary bg-gradient">
    <div class="col col-md-7 seccion-bienvenida">
        <h1 class="fw-light mb-5">Te doy la bienvenida a mi portafolio</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</div>

